/*set*/
header nav a:nth-child(3){color:#f16162;}
p{margin:0 0 20px;}
section{display: block;}


/*content*/
.content{padding-top: 40px; text-align: center;}
/*section - circle*/
.intro{width: 1000px; height: 200px; margin:0 auto;}
.intro h1{width: 1000px; height: 100px; font-size:60px; line-height: 53px; color:#333;}
.intro .circle{width: 100%; height: 81px; padding: 18px 0px; margin-left:-8%;}
.intro .circle li{display:inline-block; padding: 10px 2%; margin-left:12%; font-size:15px; line-height: 20.06px; font-weight: bold;}
.intro .circle li > a{color:#333;}
.intro .circle li > a:hover{color:#3597eb; transition: 0.8s;}
.intro p{font-size:24px; padding:10px;}