*{margin:0; padding: 0; list-style: none;}
#wrap{width: 100%;}
header{width: 100%; height: 80px; position: absolute; }
h1{width: 150px; height: 80px; line-height: 80px; margin-left:30px; float:left;}
.login{width: 200px; height: 80px;}
.login li{width: 100px; height: 80px; float:left;}
.login li a{text-decoration: none; color:#eeeeee;}
.main_menu{width: 500px; height: 80px;}
.main_menu li{width: 100px; height: 80px; float:left;}
.main_menu li a{text-decoration: none; color: #eeeeee;}
.main_text{}
.sub_text{}

section{width: 100%; height: 1000px;}
.bg_op{width: 100%; height: 1000px; background:url('../img/main/bg.jpg')no-repeat;
background-size: 100% 1000px; color:#eeeeee;}

footer{display: none;}